@font-face {
  font-family: "BootsAndSpurs";
  src: url("../fonts/BootsAndSpurs.ttf") format("truetype");
}
body {
  font-family: "roboto", Verdana, Geneva, Tahoma, sans-serif;
}
h1,
.logo,
h2 {
  font-family: "BootsAndSpurs", Verdana, Geneva, Tahoma, sans-serif;
}
.test h2 {
  font-family: "roboto", Verdana, Geneva, Tahoma, sans-serif;
}
header,
footer {
  background-color: #202020;
  color: white;
}
footer {
  text-align: center;
}
header a {
  color: white;
}
.cta {
  background-color: red;
  color: white;
  font-size: 1.5em;
}
.reviews {
  background-color: grey;
}

.futere-products {
  background-color: lightgrey;
}

.cta-sale {
  background-color: green;
}

/*home page */

.front {
  background-image: url("../images/home-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 70vh;
  background-position-x: right;
  background-position-y: bottom;
}
.reviews img {
  border-radius: 50%;
}
.selling-point-img {
  border-radius: 50px 50px 50px 50px;
}

input,
select,
textarea {
  border: 1px solid #c4c4c4;
  border-radius: 5px;
}
